* {
    margin: 0;
}

body {
    background-color: cornsilk;
}

img {
    margin-top: 1%;
}

main {
    margin: 5%;
}
nav li{
    list-style: none;
    display: inline-block;
    margin-left: 1%;
}

nav {
    background-color: black;
    padding: 5px;
}

nav a {
    text-decoration: none;
    color: black;
    background-color: darkgray;
    padding: 6px;
}

a:hover {
    background-color: darksalmon;
}

a:active {
    text-decoration: blanchedalmond;
}

.ml{
    margin-left: 5%;
}

.me{
    margin-top: 2%;
    margin-left: 5%;
}

.mt-5{
    margin-top: 2%;
    margin-left: 5%;
}
.ml-5{
    margin-left: 5%;
}

h1{
    text-align: center;
}

label{
    display: block;
}
 button{
   display: block;
 }


