* {
    margin: 0;
}


body {
    background-color: cornsilk;
}

.center{
    text-align: center;
}
     
p {
    font-family: 'Times New Roman', Times, serif;
    font-size:large;
}

main {
    margin: 5%;
}

nav li{
    list-style: none;
    display: inline-block;
    margin-left: 1%;
}

nav {
    background-color: black;
    padding: 5px;
}

nav a {
    text-decoration: none;
    color: black;
    background-color: darkgray;
    padding: 6px;
}

a:hover {
    background-color: darksalmon;
}

a:active {
    text-decoration: blanchedalmond;
}


.formulär{
text-align: center;
font-size:large;
}


.mt{
    margin-top: 1%;
}

.colorbye{
    font-size: x-large;
}

