
body {
    background-color: cornsilk;
}



.center{
    text-align: center;
}
     
p {
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
}

.formulär{
text-align: center;
}

