* {
    margin: 0;
}

body {
    background-color: cornsilk;
}

img {
    margin-top: 1%;
}

main {
    margin: 5%;
}

nav li{
    list-style: none;
    display: inline-block;
    margin-left: 1%;
}

nav {
    background-color: black;
    padding: 5px;
}

nav a {
    text-decoration: none;
    color: black;
    background-color: darkgray;
    padding: 6px;
}

a:hover {
    background-color: darksalmon;
}

a:active {
    text-decoration: blanchedalmond;
}

p {
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
}

.cat-img {
    border-style: solid;
}

.center {
    text-align: center;
}

img{
    margin-top: 2%;
}